.root {
    font-size: 16px;
    color: #5B5B5B;
    
    overflow: hidden;

    width: 100%;
    & > div {
        margin-left: 16px;
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: scroll;
}