@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.root {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
}